<section class="content-header">
  <h1>
    Diagram
    <small>Keputusan</small>
  </h1>
</section>
<% ra = @rangeAlternatif %>
<% rk = @rangeKriteria %>
<!-- Main content -->

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%= ra.count %></h3>

          <p>Alternatif</p>
        </div>
        <a href="<%= alternatifs_url %>" class="small-box-footer">Lihat <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <h3><%= rk.count %></h3>

          <p>Kriteria</p>
        </div>
        <a href="<%= kriteria_url %>" class="small-box-footer">Lihat <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3><%= @rangking.count %></h3>

          <p>Perangkingan</p>
        </div>
        <a href="<%= rangkings_url %>" class="small-box-footer">Lihat <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <% begin %>
          <h3><%= @alternatif[@V.each_with_index.max[1]].nama_alternatif %></h3>
          <% rescue %>
          <h3>Belum ada</h3>
          <% end %>
          <p>Alternatif Terbaik</p>
        </div>
        <a href="<%= welcome_tables_url %>" class="small-box-footer">Analisis <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-md-8">
              <p class="text-center">
                <strong>Alternatif</strong>
              </p>

              <div class="chart">
                <!-- Sales Chart Canvas -->
                  <%= line_chart @data.map{|i| [i.getNama, i.getVR]}, discrete: true %>
              </div>
              <!-- /.chart-responsive -->
            </div>
            <!-- /.col -->
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Tabel Ideal</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
              <thead>
                <td><center><b>#</b></center></td>
                <th scope="col">D (+)</th>
                <th scope="col">D (-)</th>
                <th scope="col">V</th>
              </thead>
              <tbody>
                <% alt = 0 %>
                <% ra.each do |al| %>
                  <tr>
                    <th scope="col">A <%= alt+1 %></th>
                    <td><%= @DPlus[alt].round(3) %></td>
                    <td><%= @DMinus[alt].round(3) %></td>
                    <td><b><%= @V[alt].round(3) %></b></td>
                  </tr>
                <% alt += 1 %>
                <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
    </div>
  <!-- ./box-body -->
</section>
