<section class="content-header">
  <h1>Tabel
  <small>Analisis</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Tabel Rangking Alternatif</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
              <thead>
                <tr>
                  <td><center><b>#</b></center></td>
                  <% kr = 1 %>
                  <% @kriteria.each do |k| %>
                  <% tipe = case k.tipe %>
                    <% when 1 then "B" %>
                    <% when 0 then "C" %>
                    <% end %>
                  <th scope="col"><%= kr.to_s+" "+tipe %></th>
                  <% kr=kr+1 %>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @alternatif.each do |a| %>
                <tr>
                <th scope="row"><%= a.nama_alternatif %></th>
                <% data = Rangking.where(alternatif_id: a.id) %>
                      <% data.each do |d| %>
                        <td ><%= d.nilai.round(3) %></td>
                      <% end %>
                </tr>
                <% end %>
                <tr>
                <th scope="row"> |X| </th>
                      <% @X.each do |x| %>
                        <td ><%= x.round(3) %></td>
                      <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Matriks R</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
              <tbody>
                <% j=0 %>
                <% @rangeAlternatif.each do |a| %>
                    <tr>
                      <% i=0 %>
                      <% @R.each do |subAr| %>
                        <td><%= @R[i][j].round(3) %></td>
                        <% i+=1 %>
                      <% end %>
                    </tr>
                  <% j+=1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Matriks Y</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
              <tbody>
                <% j=0 %>
                <% @rangeAlternatif.each do |a| %>
                    <tr>
                      <% i=0 %>
                      <% @Y.each do |subAr| %>
                        <td><%= @Y[i][j].round(3) %></td>
                        <% i+=1 %>
                      <% end %>
                    </tr>
                  <% j+=1 %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Nilai A</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
              <tbody>
                <tr>
                  <th scope="col">A+</th>
                  <% @APlus.each do |ap| %>
                    <td><%= ap.round(3) %></td>
                  <% end %>
                </tr>
                <tr>
                  <th scope="col">A-</th>
                  <% @AMinus.each do |am| %>
                    <td><%= am.round(3) %></td>
                  <% end %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
